<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="!loading; else spinning" [formGroup]="form">
      <!-- Name Column -->
      <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="name" required />
        <mat-error *ngIf="form.get('name')?.invalid">{{
          getErrorMessage("name")
        }}</mat-error>
      </mat-form-field>

      <!-- City Column -->
      <mat-form-field class="full-width">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Cidade" formControlName="city" required />
        <mat-error *ngIf="form.get('city')?.invalid">{{
          getErrorMessage("city")
        }}</mat-error>
      </mat-form-field>

      <!-- State Column -->
      <mat-form-field class="full-width">
        <mat-label>UF</mat-label>
        <input matInput placeholder="UF" formControlName="state" required />
        <mat-error *ngIf="form.get('state')?.invalid">{{
          getErrorMessage("state")
        }}</mat-error>
      </mat-form-field>

      <!-- Federal Id Column -->
      <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input
          matInput
          placeholder="CPF"
          formControlName="federalId"
          required
        />
        <mat-error *ngIf="form.get('federalId')?.invalid">{{
          getErrorMessage("federalId")
        }}</mat-error>
      </mat-form-field>

      <!-- Email Column -->
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="name@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="form.get('email')?.invalid">{{
          getErrorMessage("email")
        }}</mat-error>
      </mat-form-field>
    </form>
    <ng-template #spinning>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn" (click)="onCancel()">
      Cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="onSave()"
      [disabled]="form.invalid"
    >
      Salvar
    </button>
  </mat-card-actions>
</mat-card>
