<mat-toolbar color="primary">
  <button
    mat-icon-button
    aria-label="Menu da aplicação"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onUsers()">
      <mat-icon>group</mat-icon>
      <span>Usuários</span>
    </button>
    <button mat-menu-item (click)="onCustomers()">
      <mat-icon>shopping_cart</mat-icon>
      <span>Clientes</span>
    </button>
  </mat-menu>

  <span>{{ title }}</span>
</mat-toolbar>
<router-outlet></router-outlet>
