/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f3f3;
}

.table-list {
  padding: 20px;
}

.table-button-container {
  padding-bottom: 16px;
}

.table-button + .table-button {
  margin-left: 8px;
}

.table-action-column {
  flex: 0 0 70px;
}

